label{
    position: relative;
  }
  
  label:before {
    content: "";
    position: absolute;
    right:  20px;
    top: 10px;
    bottom: 0;
    width: 10px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8208 0.212158C6.95593 0.212158 0.557373 6.77068 0.557373 14.8321C0.557373 22.8936 6.95593 29.4521 14.8208 29.4521C16.9118 29.4521 19.0441 28.9097 21.1566 27.838L19.8942 25.2167C18.1769 26.0866 16.4696 26.5281 14.8208 26.5281C8.52918 26.5281 3.41005 21.281 3.41005 14.8321C3.41005 8.38326 8.52918 3.13615 14.8208 3.13615C21.1123 3.13615 26.2315 8.38326 26.2315 14.8321V16.2941C26.2315 17.3058 25.785 19.2181 24.092 19.2181C22.1008 19.2181 21.961 16.5587 21.9524 16.2941V8.98414H19.0998V9.02069C17.8721 8.05423 16.3687 7.52775 14.8208 7.52214C10.8883 7.52214 7.68907 10.8014 7.68907 14.8321C7.68907 18.8629 10.8883 22.1421 14.8208 22.1421C16.8889 22.1421 18.7403 21.2196 20.044 19.7722C20.7914 21.0734 22.0523 22.1421 24.092 22.1421C27.334 22.1421 29.0841 19.1289 29.0841 16.2941V14.8321C29.0841 6.77068 22.6856 0.212158 14.8208 0.212158ZM14.8208 19.2181C12.4616 19.2181 10.5417 17.2503 10.5417 14.8321C10.5417 12.414 12.4616 10.4461 14.8208 10.4461C17.1799 10.4461 19.0998 12.414 19.0998 14.8321C19.0998 17.2503 17.1799 19.2181 14.8208 19.2181Z' fill='black' fill-opacity='0.4'/%3E%3C/svg%3E%0A");
  }
  label1{
    position: relative;
  }
  
  label1:before {
    content: "";
    position: absolute;
    right:  20px;
    color: gray !important;
    top: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23949494' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='32px' height='32px'%3E%3Cpath d='M 8 1 C 5.796875 1 4 2.796875 4 5 L 4 6 L 3.5 6 C 2.675781 6 2 6.675781 2 7.5 L 2 12.5 C 2 13.324219 2.675781 14 3.5 14 L 12.5 14 C 13.324219 14 14 13.324219 14 12.5 L 14 7.5 C 14 6.675781 13.324219 6 12.5 6 L 12 6 L 12 5 C 12 2.796875 10.203125 1 8 1 Z M 8 2 C 9.664063 2 11 3.335938 11 5 L 11 6 L 5 6 L 5 5 C 5 3.335938 6.335938 2 8 2 Z M 3.5 7 L 12.5 7 C 12.78125 7 13 7.21875 13 7.5 L 13 12.5 C 13 12.78125 12.78125 13 12.5 13 L 3.5 13 C 3.21875 13 3 12.78125 3 12.5 L 3 7.5 C 3 7.21875 3.21875 7 3.5 7 Z'/%3E%3C/svg%3E");
  }
  input {
    padding: 10px 30px;
  }